body {
  background: white;
  margin: 10px;
}

body,
input {
  font-family: sans-serif;
  font-size: 10pt;
  color: black;
}

#input {
  margin-top: 0.5em;
}

#eq span {
  height:120px;
  float:left;
  margin:15px
}