<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>pyRobotArm</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css" />
        <script src="{{ static_url("scripts.js") }}" type="text/javascript"></script>
    </head>
    
    
    <body>
    <div class="container">
        <div id="input">
            {% for id in range(5) %}
                <div id="slider{{ id }}"></div>
            {% end %}
        </div>
        
        <div id="status">
        </div>
    </div>    
    </body>

</html>